<ng-template #blank let-courseDes="desc" let-thisName="this">
  <p>{{ courseDes }}</p>
  {{ thisName }}
</ng-template>

<button [routerLink]="['/create']">Create</button>
<button [routerLink]="['/login']">Login</button>
<div>
  <button (click)="onEditFirstCourse()">Edit first Couse</button>
</div>

<app-content-card
  *ngFor="let course of courses; let i = index"
  [course]="course"
  [index]="i"
  (action)="actionTriggered($event)"
  [blank]="blank"
  highlighted
  #high="hl"
  type="card"
>
  <p #desc class="desc">{{ course.description }}</p>
</app-content-card>
<div #id></div>

<ng-container *ngIf="posts$ | async as posts">
  <ng-container *ngFor="let post of posts.slice(0, 4)">
    <p>{{ post.title }}</p>
  </ng-container>
</ng-container>

<h3>Todos</h3>
<ng-container *ngIf="todos">
  <ng-container *ngFor="let todo of todos.slice(0, 2)">
    <p>{{ todo.title }}</p>
  </ng-container>
</ng-container>
