<h3>Create new Course</h3>

<mat-horizontal-stepper
  [linear]="false"
  class="mat-elevations-z5"
  labelPosition="bottom"
>
  <mat-step [stepControl]="step1.form" errorMessage="Landing page in error">
    <ng-template matStepLabel> course landing page details </ng-template>

    <app-create-course-step-first #step1></app-create-course-step-first>

    <div class="stepper-buttons">
      <button color="primary" mat-raised-button matStepperNext>
        Continue to Step 2
      </button>
    </div>
  </mat-step>

  <mat-step errorMessage="Pricing is in error">
    <ng-template matStepLabel> course pricing details </ng-template>
    <app-create-course-step-two></app-create-course-step-two>

    <div class="stepper-buttons">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button color="primary" mat-raised-button matStepperNext>
        Continue to Step 3
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
